Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.23
oauthlib==0.6.0
pyjade==2.0.3
requests==2.0.0
requests-oauthlib==0.3.2
six==1.5.2
twython==3.1.0
wsgiref==0.1.2
