!!! 5
html(lang="en")
    head
        title What would I tweet?

    body
        form(action="/do", method="post")
            input(type="text", name="screen_name")
            input(type="submit")
