!!! 5
html(lang="en", ng-app)
    head
        title What would I tweet?
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js")

    body
        div
            input(type="text", ng-model="screenName")
            h1 {{screenName}}
