<!DOCTYPE html>
<html lang="en">
    <head>
        <title>What would I tweet?</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="static/app.js"></script>
    </head>
    <body>
        <div ng-app="TweetApp">
            <div ng-controller="MainCtrl">
                    <input type="text" ng-model="screenName">
                    <h1>{{ screenName }}</h1>
                    <button ng-click="getTweets(screenName)">Go</button>
                <div ng-repeat="tweet in tweets">
                    <p>{{ tweet.tweet }}</p>
                </div>
            </div>
        </div>
    </body>
</html>
